/* -----------------------------------------------------------------------------

# List Styles

----------------------------------------------------------------------------- */
.list-section {
    background-color: #ffffff;
}

.list-box {
    overflow: hidden;
    letter-spacing: 0.5px;
}

.list-box .content h3 {
    display: block;
    line-height: 22px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    margin-bottom: 4px;
}

.list-box .content p {
    margin-bottom: 0px;
    opacity: 0.75;
}

.list-box .list-icon i {
    display: block;
    font-size: 24px;
    margin-right: 15px;
    color: #F28123;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 60px;
    border: 2px #F28123 dotted;
    border-radius: 999px;
}