.category-container {
    display: flex;
    padding: 50px;
    gap: 15px;
    margin-left: 20px;
    margin-top: 50px;
}

.categoryItem-container {
    flex: 1;
    height: 70vh;
    position: relative;
}



.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categ-title h1 {
    color: #F28123;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}